In [1]:
!pip install --upgrade yahoo_fin

Requirement already satisfied: yahoo_fin in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (0.8.9.1)
Requirement already satisfied: requests in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (2.28.1)
Requirement already satisfied: feedparser in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (6.0.10)
Requirement already satisfied: requests-html in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: pandas in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (1.5.3)
Requirement already satisfied: sgmllib3k in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (1.22.3)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (3.4)
Requirement already satisfied: parse in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: fake-useragent in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.1.3)
Requirement already satisfied: pyppeteer>=0.0.14 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.0.2)
Requirement already satisfied: pyquery in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: w3lib in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.21.0)
Requirement already satisfied: bs4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: websockets<11.0,>=10.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (10.4)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.11.3)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.1)
Requirement already satisfied: six>=1.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from bs4->requests-html->yahoo_fin) (4.11.1)
Requirement already satisfied: cssselect>=1.2.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (1.2.0)
Requirement already satisfied: lxml>=2.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (4.9.1)
Requirement already satisfied: zipp>=0.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.3.2.post1)

In [2]:
import pandas as pd
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from yahoo_fin.stock_info import get_data

In [3]:
## Import NYSE stock from CSV
NYSE_stock_df = pd.read_csv('/Users/ellandalla/Desktop/website Project/Data/NYSE_stocks.csv')

In [4]:
NYSE_stock_df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$125.05,-2.66,-2.08%,3.693674e+10,United States,1999.0,1742578,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$34.50,0.57,1.68%,6.156511e+09,United States,2016.0,4243329,Industrials,Aluminum
2,AAIC,Arlington Asset Investment Corp Class A (new),$4.43,-0.12,-2.64%,1.256368e+08,United States,NaN,289165,Real Estate,Real Estate Investment Trusts
3,AAIN,Arlington Asset Investment Corp 6.000% Senior ...,$23.71,0.00,0.00%,6.724234e+08,United States,NaN,10,Real Estate,Real Estate Investment Trusts
4,AAN,Aarons Holdings Company Inc. Common Stock,$13.15,-1.08,-7.59%,4.059274e+08,United States,2020.0,294314,Consumer Discretionary,Diversified Commercial Services

In [ ]:
stock_df_results = pd.DataFrame()
# Use a for loop to fetch historical data from YFinance
for symbol in NYSE_stock_df['Symbol']:
    try:
        data = get_data(symbol, start_date="2014-01-01", end_date="2023-07-31", index_as_date = True, interval="1mo")
        if not data.empty:
            stock_df_results = pd.concat([stock_df_results, data])
        else:
            print(f"No data available for {symbol}")
        # Process the data here
    except Exception as e:
        print(f"Error fetching data for {symbol}: {str(e)}")

In [ ]:
stock_df_results.iloc[:5]

In [12]:
## Calculating 10 days Moving Average

stock_df_results['10 Day Moving Average'] = stock_df_results['close'].rolling(window=10).mean()

In [16]:
## Determine the CAGR Rate 
# Calculate initial and final values
P0 = stock_df_results['close'].iloc[0]
Pn = stock_df_results['close'].iloc[-1]

## Determine the number of periods
n = len(stock_df_results)

# Calculate CAGR
CAGR = (Pn / P0) ** (1 / n) - 1

# Convert CAGR to a percentage
CAGR_percentage = CAGR * 100
stock_df_results['CAGR'] = CAGR_percentage

In [17]:
stock_df_results.iloc[:-5]

,open,high,low,close,adjclose,volume,ticker,10 Day Moving Average,CAGR
1999-12-01,30.177038,57.224606,29.327612,55.302216,47.081139,66908419.0,A,NaN,-0.000131
2000-01-01,56.330471,56.464592,41.577251,47.344421,40.306328,44880832.0,A,NaN,-0.000131
2000-02-01,47.389126,82.573318,47.389126,74.302574,63.256954,32938000.0,A,NaN,-0.000131
2000-03-01,74.749641,115.879829,64.377686,74.391991,63.333073,57679666.0,A,NaN,-0.000131
2000-04-01,73.676682,89.413445,52.262161,63.394135,53.970123,46065078.0,A,NaN,-0.000131
...,...,...,...,...,...,...,...,...,...
2022-10-01,24.809999,26.040001,21.389999,23.490000,23.221983,32707400.0,ZWS,29.026,-0.000131
2022-11-01,23.750000,25.340000,21.910000,24.209999,23.933764,28095300.0,ZWS,28.393,-0.000131
2022-12-01,24.420000,25.559999,20.650000,21.150000,20.969358,20613500.0,ZWS,27.256,-0.000131
2023-01-01,21.450001,23.160000,20.100000,21.860001,21.673296,34046400.0,ZWS,25.902,-0.000131
2023-02-01,21.780001,25.100000,21.600000,23.000000,22.803558,29633200.0,ZWS,25.080,-0.000131