In [1]:
!pip install --upgrade yahoo_fin

Requirement already satisfied: yahoo_fin in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (0.8.9.1)
Requirement already satisfied: requests in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (2.28.1)
Requirement already satisfied: feedparser in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (6.0.10)
Requirement already satisfied: pandas in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (1.5.3)
Requirement already satisfied: requests-html in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from yahoo_fin) (0.10.0)
Requirement already satisfied: sgmllib3k in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from feedparser->yahoo_fin) (1.0.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pandas->yahoo_fin) (1.22.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (2023.7.22)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests->yahoo_fin) (3.4)
Requirement already satisfied: fake-useragent in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.1.3)
Requirement already satisfied: pyppeteer>=0.0.14 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.0.2)
Requirement already satisfied: bs4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (0.0.1)
Requirement already satisfied: w3lib in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.21.0)
Requirement already satisfied: parse in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (1.19.0)
Requirement already satisfied: pyquery in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from requests-html->yahoo_fin) (2.0.0)
Requirement already satisfied: importlib-metadata>=1.4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (6.8.0)
Requirement already satisfied: websockets<11.0,>=10.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (10.4)
Requirement already satisfied: tqdm<5.0.0,>=4.42.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (4.64.1)
Requirement already satisfied: appdirs<2.0.0,>=1.4.3 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (1.4.4)
Requirement already satisfied: pyee<9.0.0,>=8.1.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyppeteer>=0.0.14->requests-html->yahoo_fin) (8.2.2)
Requirement already satisfied: six>=1.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas->yahoo_fin) (1.16.0)
Requirement already satisfied: beautifulsoup4 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from bs4->requests-html->yahoo_fin) (4.11.1)
Requirement already satisfied: cssselect>=1.2.0 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (1.2.0)
Requirement already satisfied: lxml>=2.1 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from pyquery->requests-html->yahoo_fin) (4.9.1)
Requirement already satisfied: zipp>=0.5 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from importlib-metadata>=1.4->pyppeteer>=0.0.14->requests-html->yahoo_fin) (3.11.0)
Requirement already satisfied: soupsieve>1.2 in /Users/ellandalla/anaconda3/lib/python3.10/site-packages (from beautifulsoup4->bs4->requests-html->yahoo_fin) (2.3.2.post1)

In [2]:
import pandas as pd
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from yahoo_fin.stock_info import get_data
from flask import Blueprint
import requests
import json
from flask_sqlalchemy import SQLAlchemy
from flask import Flask, render_template
from os import path
import csv
import pprint

import pandas as pd
Finance_db = "database.db" ## defining the name of the SQLite database
db = SQLAlchemy()

In [3]:
## Import NYSE stock from CSV
NYSE_stock_df = pd.read_csv('/Users/ellandalla/Desktop/website Project/Data/NYSE_stocks.csv')

In [4]:
NYSE_stock_df.head()

,Symbol,Name,Last Sale,Net Change,% Change,Market Cap,Country,IPO Year,Volume,Sector,Industry
0,A,Agilent Technologies Inc. Common Stock,$125.05,-2.66,-2.08%,3.693674e+10,United States,1999.0,1742578,Industrials,Biotechnology: Laboratory Analytical Instruments
1,AA,Alcoa Corporation Common Stock,$34.50,0.57,1.68%,6.156511e+09,United States,2016.0,4243329,Industrials,Aluminum
2,AAIC,Arlington Asset Investment Corp Class A (new),$4.43,-0.12,-2.64%,1.256368e+08,United States,NaN,289165,Real Estate,Real Estate Investment Trusts
3,AAIN,Arlington Asset Investment Corp 6.000% Senior ...,$23.71,0.00,0.00%,6.724234e+08,United States,NaN,10,Real Estate,Real Estate Investment Trusts
4,AAN,Aarons Holdings Company Inc. Common Stock,$13.15,-1.08,-7.59%,4.059274e+08,United States,2020.0,294314,Consumer Discretionary,Diversified Commercial Services

In [ ]:
stock_df_results = pd.DataFrame()
# Use a for loop to fetch historical data from YFinance
for symbol in NYSE_stock_df['Symbol']:
    try:
        data = get_data(symbol, start_date="2014-01-01", end_date="2023-07-31", index_as_date = True, interval="1mo")
        if not data.empty:
            stock_df_results = pd.concat([stock_df_results, data])
        else:
            print(f"No data available for {symbol}")
        # Process the data here
    except Exception as e:
        print(f"Error fetching data for {symbol}: {str(e)}")

Error fetching data for ABC: {'chart': {'result': None, 'error': {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}}}
Error fetching data for APE: {'chart': {'result': None, 'error': {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}}}
Error fetching data for ARNC: {'chart': {'result': None, 'error': {'code': 'Not Found', 'description': 'No data found, symbol may be delisted'}}}

In [ ]:
stock_df_results.iloc[:5]

In [ ]:
stock_df_results.iloc[:-5]

In [ ]:
# merge the stock_df_results with stock_df to get the sector
NYSE_final_df = pd.merge(NYSE_stock_df[['Symbol', 'Sector']], stock_df_results.reset_index(), 
                            left_on="Symbol", right_on="ticker")
## Group stock by sector and by price
grouped = NYSE_final_df.groupby(['Sector', 'index']).sum()
grouped_data = pd.DataFrame(grouped)

te = grouped_data.index.get_level_values(index)
#grouped_data
#NYSE_fin
grouped_data.head()
drop_list=['high', 'low', 'adjclose', 'open' ]
for item in drop_list:
    grouped_data = grouped_data.drop(item, axis=1)
grouped_data.head()

In [ ]:
grouped_data.head()

In [ ]:
grouped_data.reset_index(inplace=True)

In [ ]:
grouped_data.head()

In [ ]:
#pivot_df_Price = pd.pivot_table(grouped_data, index = ['index'], columns = ['Sector'], values = 'Change in Price').reset_index()

In [ ]:
#pivot_df_Price

In [ ]:
CAGR_data = {}
for sector in pivot_df_Price.columns[1:]:
    # initiaitlize the sector names in dictionary
    CAGR_data[sector] = {}
    # Add the keys in the deictionary for the sector key 
    CAGR_data[sector]['X'] = pivot_df_Price['index'].astype(str).to_list()
    CAGR_data[sector]['Y'] = pivot_df_Price[sector].to_list()
print(type(CAGR_data))

In [ ]:
## converting to json file
file_path = "CAGR_data.json"
with open(file_path, "w") as json_file:
    json.dump(CAGR_data, json_file)

In [ ]:
# To capture CAGR Volume 
pivot_df_Volume = pd.pivot_table(grouped_data, index = ['index'], columns = ['Sector'], values = 'Change in Volume').reset_index()

In [ ]:

pivot_df_Volume

In [ ]:
CAGR_Volume = {}
for sector in pivot_df_Volume.columns[1:]:
    # initiaitlize the sector names in dictionary
    CAGR_Volume[sector] = {}
    # Add the keys in the deictionary for the sector key 
    CAGR_Volume[sector]['X'] = pivot_df_Volume['index'].astype(str).to_list()
    CAGR_Volume[sector]['Y'] = pivot_df_Volume[sector].to_list()

In [ ]:
file_path = "CAGR_volume.json"
with open(file_path, "w") as json_file:
    json.dump(CAGR_Volume, json_file)

In [ ]:
CAGR_Volume['Finance']['Y']

In [ ]:
## To capture regular volume per sector
pivot_df_Sector_volume = pd.pivot_table(grouped_data,columns = ['Sector'], values ='volume').reset_index()


pivot_df_Sector_volume

In [ ]:
Sector_Volume = {}
Sector_Volume['X'] = pivot_df_Sector_volume[sector].to_list()
Sector_Volume['Y'] = pivot_df_Sector_volume['index'].astype(str).to_list()

In [ ]:
file1 = open('Sector_Volume.txt', 'w')
file1.write(str(Sector_Volume))
file1.close()